@{
    ViewBag.Title = "Hur gör man?";
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Hur gör man?</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <nav class="tab-nav">
            <ul class="nav nav-justified">
                <li class="active">
                    <a class="waves-effect" data-toggle="tab" href="#join" aria-expanded="true">Delta i en jakt</a>
                </li>
                <li class="">
                    <a class="waves-effect" data-toggle="tab" href="#create" aria-expanded="false">Skapa en jakt</a>
                </li>
            </ul>
            <div class="tab-nav-indicator"></div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="join">
                <p>
                   Det är superenkelt att delta i en rebusjakt. Så här går det till.
                </p>
                <div class="tile-wrap">
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">1</div>
                        </div>
                        <div class="tile-inner">
                                Hitta en jakt som verkar rolig <a href="/search/index" title="Sök här">sök här</a>
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">2</div>
                        </div>
                        <div class="tile-inner">
                            Bege dig till startpunkten för jakten och klicka på knappen "Sätt igång jakten".<br /> Du kan nu bli ombedd att logga in. Gör det. Eller skapa <a href="/account/register">en användare</a> om du inte har en.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">3</div>
                        </div>
                        <div class="tile-inner">
                            Lös alla rebusar. 
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">4</div>
                        </div>
                        <div class="tile-inner">
                            Hämta frågor för varje rebus du lyckats lösa. Det gör du genom att klicka på länken "Hämta frågor" för respektive rebus.
                            Du kommer då få reda på en plats du måste befinna dig på för att få tillgång till frågorna. När du är på platsen klickar du på "Jag är där"-knappen.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">5</div>
                        </div>
                        <div class="tile-inner">
                            Svara på alla frågor efter bästa förmåga.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">6</div>
                        </div>
                        <div class="tile-inner">
                            När du löst alla rebusar och besvarat alla frågor kommer du att få reda på var målgången är.
                            Bege dig till målgången och klicka på "Jag är där"-knappen.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">7</div>
                        </div>
                        <div class="tile-inner">
                           <strong>Boom! du är klar.</strong>
                            <p>
                                Din poäng räknas ihop av våra matematiker. Hänsyn tas till om du fuskade genom att Googla fram ett svar samt om du låste upp frågorna på ett korrekt sätt.
                            </p>                            
                            Lämna gärna ett omdöme.
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="create">
                <p>
                    Det är nästan omöjligt att skapa en rebusjakt. Så här går det till.
                </p>
                <div class="tile-wrap">
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">1</div>
                        </div>
                        <div class="tile-inner">
                            Gå till <a href="/riddleadmin/index">adminsidan</a> som heter "Skapa jakter" i <span class="icon icon-menu"></span> navigeringsmenyn 
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">2</div>
                        </div>
                        <div class="tile-inner">
                            Klicka på knappen "Ny jakt"
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">3</div>
                        </div>
                        <div class="tile-inner">
                            Fyll i alla fält och klicka på "Spara".<br /> 
                            Var noga med startplats och målgång.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">4</div>
                        </div>
                        <div class="tile-inner">
                            Klicka på länken "Rebusar" som finns under den jakt du just skapade.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">5</div>
                        </div>
                        <div class="tile-inner">
                            Klicka på knappen "Lägg till ny rebus"
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">6</div>
                        </div>
                        <div class="tile-inner">
                            Fyll i fälten och klicka på "Spara".<br />
                            Ett tips är att rebusarna ska vara relaterade till det tema du angav när du skapade jakten. Dock helt upp till dig.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">6</div>
                        </div>
                        <div class="tile-inner">
                            Klicka på länken "Frågor" som finns under den rebus du just skapade.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">7</div>
                        </div>
                        <div class="tile-inner">
                            Klicka på knappen "Ny fråga"
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">8</div>
                        </div>
                        <div class="tile-inner">
                            Fyll i fälten och klicka på "Spara".<br />
                            Frågorna får gärna vara relaterade till rebusen som ledde till dem samt till temat.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">9</div>
                        </div>
                        <div class="tile-inner">
                            När du känner dig klar med rebusar och frågor (obs varje rebus måste ha minst en fråga) ska du bege dig tillbaka till <a href="/riddleadmin/index">startsidan för admin</a> (där du skapade jakten).<br />
                            Klicka på knappen "Visa publikt" och jakten kommer att bli synlig för alla andra.
                        </div>
                    </div>
                    <div class="tile">
                        <div class="pull-left tile-side">
                            <div class="avatar avatar-blue avatar-sm">10</div>
                        </div>
                        <div class="tile-inner">
                            <strong>Testa jakten!</strong><br />
                            Klicka på länken till jakten och testa att allt fungerar som det ska.<br />
                            När allt verkar ok skickar du länken till dina kompisar och inväntar alla fina omdömen för den fantastiska rebusjakt du just skapat.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
