@model IEnumerable<Rebusjakt.Models.Hunt>
@{
    ViewBag.Title = "Home Page";
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Rebusjakt</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <h2 class="content-sub-heading">Senaste jakter</h2>
        <div class="card-wrap">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner">
                                    <p class="card-heading text-alt">@item.Name</p>
                                    <p>
                                        @item.Description
                                    </p>
                                </div>
                                <div class="card-action">
                                    <ul class="nav nav-list pull-left">
                                        <li>
                                            <a href="/game/index/@item.Id" title="Lägg till rebusar">
                                                <span class="text-blue">Starta</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
