@model Rebusjakt.ViewModels.UserIndexViewModel
@{
    ViewBag.Title = @Model.UserName;
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">@Model.UserName</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <p>@Model.UserName</p>
    </div>
</div>

