<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">:(</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <p>Vi verkar inte kunna hitta den användare du söker.</p>
        <p>
            Kontrollera den adress du angav.
        </p>
    </div>
</div>

