@model Rebusjakt.ViewModels.GameViewModel
@{
    ViewBag.Title = Model.HuntName;
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">@Model.HuntName</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <div id="game-container"></div>
        <div id="content-container"></div>
    </div>
</div>

@section scripts {
    
    @if (Model.IsRandom)
    {
        <script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>
        @Scripts.Render("~/bundles/newlocations")
    }
    @Scripts.Render("~/bundles/game")
    <script>
        var gameMaster = new GameMaster(@Html.Raw(Json.Encode(Model)));
        React.render(React.createElement(GameApp,{gameMaster : gameMaster}), document.getElementById("game-container"));
    </script>
}

