@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<header class="header">
    <ul class="nav nav-list pull-left">
        <li class="">
            <a class="menu-toggle" href="#menu">
                <span class="access-hide">Menu</span>
                <span class="icon icon-menu icon-lg"></span>
                <span class="header-close icon icon-close icon-lg"></span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-list pull-right">
        <li class="">
            <a class="menu-toggle" href="#search">
                <span class="access-hide">Search</span>
                <span class="icon icon-search icon-lg"></span>
                <span class="header-close icon icon-close icon-lg"></span>
            </a>
        </li>
    </ul>
</header>
<nav class="menu" id="menu">
    <div class="menu-scroll">
        <div class="menu-wrap">
            <div class="menu-content">
                <ul class="nav">
                    <li>
                        <a href="/"><span class="icon icon-home"></span> Startsidan</a>
                    </li>
                    <li>
                        <a href="/riddleadmin/index"><span class="icon icon-my-location"></span> Skapa jakter</a>
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="/manage"><span class="icon icon-account-box"></span>Kontoinställningar</a>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()"><span class="icon icon-exit-to-app"></span> Logga ut</a>
                            }
                        </li>
                    }
                    else
                    {
                        <li><a href="/account/register" title="Ny användare"><span class="icon icon-account-box"></span> Ny användare</a></li>
                        <li><a href="/account/login" title="Logga in"><span class="icon icon-forward"></span> Logga in</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="menu menu-right menu-search" id="search">
    <div class="menu-scroll">
        <div class="menu-wrap">
            <div class="menu-top">
                <div class="menu-top-info">
                    <form class="menu-top-form" action="/search/index/" method="get">
                        <label class="access-hide" for="menu-search">Sök</label>
                        <input class="form-control form-control-inverse menu-search-focus" id="menu-search" placeholder="Sök" name="q" type="search">
                        <button class="access-hide" type="submit">Search</button>
                    </form>
                    
                </div>
            </div>
            <div class="menu-content">
                <div class="menu-content-inner">
                    <p><strong class="text-green">Populära sökningar:</strong></p>
                    <ul>
                        <li><a href="~/Search/index/?q=tv">TV-serier</a></li>
                        <li><a href="~/Search/index/?q=musik">Musik</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
