@{
    ViewBag.Title = "Ej tillgänglig";
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Ej tillgänglig :/</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <p>
            Hmm...det verkar som att den här jakten inte är tillgänglig just nu. Försök igen senare.
        </p>
    </div>
</div>

