@{
    ViewBag.Title = "Länk skickad";
}

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Länk skickad</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <p>
            Du ska nu ha fått en länk mailad till dig som du kan använda för att återställa ditt lösenord.

        </p>
        <small>Det kan ta några minuter...</small>
    </div>
</div>
