@model IEnumerable<Rebusjakt.Models.Hunt>
@{
    ViewBag.Title = "Index";
}
<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Admin</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <p>
            <a href="/hunt/create" class="btn btn-blue" title="Ny Jakt">Ny jakt</a>
        </p>
        <div class="card-wrap">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner">
                                    <p class="card-heading text-alt">@item.Name</p>
                                    <p>
                                        @item.Description
                                    </p>
                                    <p>
                                        
                                    </p>                                   
                                </div>
                                <div class="card-action">
                                    <ul class="nav nav-list pull-left">
                                        <li>
                                            <a href="/riddleadmin/index/@item.Id" title="Lägg till rebusar">
                                                <span class="text-blue">Rebusar</span>
                                            </a>
                                        </li>
                                        <li>
                                            @if (!item.IsActive)
                                            {
                                                <a href="#" class="btn-makeactive" data-id="@item.Id">Visa publikt</a>
                                            }
                                            else
                                            {
                                                <a href="#" class="btn-makeinactive" data-id="@item.Id">Visa inte publikt</a>
                                            }
                                        </li>
                                        <li>
                                            <a href="/hunt/edit/@item.Id" title="Ändra"><span class="access-hide">Ändra</span><span class="icon icon-edit"></span></a>
                                        </li>
                                        <li>
                                            <a href="/hunt/delete/@item.Id" title="Ta bort"><span class="access-hide">Ta bort</span><span class="icon icon-delete"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
           
        </div>
    </div>
    

@section scripts{
    <script>
        $(function () {
            $(".btn-makeactive").on("click", function (e) {
                e.preventDefault();
                var id = $(this).attr("data-id");
                $.post("/hunt/makeactive", { id: id }, function(response){
                    console.log(response);
                },"json");
            });
        });
    </script>

}