@model IEnumerable<Rebusjakt.Models.Hunt>
    @{
        ViewBag.Title = "Sökresultat";
    }

<div class="content-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
                <h1 class="heading">Sökträffar</h1>
            </div>
        </div>
    </div>
</div>
<div class="content-inner">
    <div class="container">
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Name @if (item.Distance > 0) { <span>@item.StartLocation @item.Distance.ToString("0") m</span> }</li>
            }
        </ul>
    </div>
</div>

