.map-holder {
    max-width:100%;
    margin: 10px 0 10px 0;
    padding: 0px;
}
.container img {
     max-width:100%;
}
.line-through {
    text-decoration:line-through;
}
.input-inline {
    display:inline-block;
    width:70%;    
    margin-right:5px;
}

.btn-inline {
    vertical-align:baseline;
}

.emoji-options{
    font-size:28px;
    margin:10px;
}

.emoji-list span {   
  margin: 8px;
  display: inline-block;
  font-size: 16px;
}

.hide {
    display:none;
}

.text-danger {
    color:red; font-size:0.8em; display:block;
}

.heading-background-image {
    background-image: url(../images/rebusheader.jpg);
    background-size:cover;
    background-position:center;
}
#search-form {
    height: 0;
    overflow: hidden;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    -moz-transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    -webkit-transition:visibility 0s linear 0.5s,opacity 0.5s linear;
    -o-transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}